.chat-sender-info{
    display: flex;
    align-items: center;
}
.chat-message-other{
    border: 0.5px solid rgb(201, 201, 201);
    border-radius: 20px;
    width: fit-content;
    padding: 10px;
    margin-top: 5px;
    margin-left: 20px;
}
.comment-like{
    width: fit-content;
    margin-left: 30px;
    display: flex;
}
.comment-like-count{
    font-size: 12px;
}
.chat-message-container-other{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.message-input-container{
    width: 100%;
    height: 20px;
    position: sticky;
    bottom: 60px;
    background-color: white;
}
.message-input-container::after{
    content: "";
    background-color: white;
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 0;
    z-index: -1;
}
.message-input{
    resize: none;
}
.message-input::-webkit-scrollbar{
    width: 2px;
}
.message-input-inner-container{
    display: flex;
}
.chat-container{
    min-height: 60vh;
}
.back-arrow{
    margin-bottom: 15px;
    cursor: pointer;
    width: fit-content;
}