body, *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Nunito";
  src: url(../public/fonts/static/Nunito-Regular.ttf);  
  font-weight: 400;
}

@font-face {
  font-family: "Nunito";
  src: url(../public/fonts/static/Nunito-Bold.ttf); 
  font-weight: 700;
}

@font-face {
  font-family: "Nunito";
  src: url(../public/fonts/static/Nunito-ExtraBold.ttf);  
  font-weight: 800;
}

@font-face {
  font-family: "Nunito";
  src: url(../public/fonts/static/Nunito-Black.ttf);   
  font-weight: 900;
}


body::-webkit-scrollbar{
  width: 5px;
}

body::-webkit-scrollbar-thumb{
  width: 100%;
  background-color: rgb(99, 99, 98);
}

@media (max-width:600px){
  body::-webkit-scrollbar{
      width: 3px;
  }
}

.link-without-styles{
  text-decoration: none;
  color:  black;
}

.big-icon{
  font-size: 16px;
}


@media (min-height : 600px) {
  .left-arrow-container {
    position: sticky;
    top: 0;
  }
}

.left-arrow-container{
  width: 100%;
  height : 40px;
  background : white;
  display: flex;
  align-items: center;
  border-bottom: 0.5px rgb(201, 201, 201) solid;
}

.error-container{
  margin-top: -20px;
  margin-bottom: 15px;
  display: block;
}