body, *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Nunito";
  src: url(../public/fonts/static/Nunito-Regular.ttf);  
  font-weight: 400;
}

@font-face {
  font-family: "Nunito";
  src: url(../public/fonts/static/Nunito-Bold.ttf); 
  font-weight: 700;
}

@font-face {
  font-family: "Nunito";
  src: url(../public/fonts/static/Nunito-ExtraBold.ttf);  
  font-weight: 800;
}

@font-face {
  font-family: "Nunito";
  src: url(../public/fonts/static/Nunito-Black.ttf);   
  font-weight: 900;
}


body::-webkit-scrollbar{
  width: 5px;
}

body::-webkit-scrollbar-thumb{
  width: 100%;
  background-color: rgb(99, 99, 98);
}

@media (max-width:600px){
  body::-webkit-scrollbar{
      width: 3px;
  }
}

.link-without-styles{
  text-decoration: none;
  color:  black;
}

.big-icon{
  font-size: 16px;
}