.post{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    max-width: 600px;
    margin: 0 auto;
}
.post-top-part{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-user-name{
    margin-left: 5px;
    margin-right: 5px;
    display: block;
}

.post-profile{
    align-items: center;
    display: flex;
}

.post-manu{
    cursor: pointer;
}

.post-img-photo{
    border-radius: 10px;
    width: 100%; 
    /* delete width */
}

.post-img{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    overflow-x: hidden;
    /* new styles */
    max-width: 100%;
    max-height: 600px;
}


.post-tools{
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
}

.post-tools>*{
    cursor: pointer;
}

.likecom{
    display: flex;
}

.likecom>*{
    margin-right: 10px;
}
.post-description-text{
    font-weight: 600;
    margin-top: 5px;
}

.post-likes-comments{
    display: flex;
}
.post-likes{
    font-size: 13px;
    font-weight: 300;
    padding: 2px;

}

.rate-tool-svg{
    transition: 1s ease-in;
}

.active-rate-tool-path-favorite{
    animation-name: favorite;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); 

}

.active-rate-tool-path-like{
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); 
    animation-name: like;
}

@keyframes favorite {
    0%   { transform: scale(1); }
    90%   { transform: scale(1.1); }
    100% { transform: scale(1.05); }
}

@keyframes like {
    0%   { transform: scale(21); }
    90%   { transform: scale(22); }
    100% { transform: scale(21.5); }
}