.logo{
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 900;
    font-size: 20px;
    width: 160px;
    text-align: center;
}
.der{
    color: red;
}


.post{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.post-top-part{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-user-name{
    margin-left: 5px;
    display: block;
}

.post-profile{
    align-items: center;
    display: flex;
}

.post-manu{
    cursor: pointer;
}

.post-img-photo{
    border-radius: 10px;
}

.post-img{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    overflow-x: hidden;
}


.post-tools{
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
}

.post-tools>*{
    cursor: pointer;
}

.likecom{
    display: flex;
}

.likecom>*{
    margin-right: 10px;
}
.post-description-text{
    font-weight: 600;
    margin-top: 5px;
}